@page "/itemunit_pg/{vCompType}"
@page "/itemunit_pg"
@inject HttpClient Http
@using DigiEquipSys.Services
@using DigiEquipSys.Models
@using DigiEquipSys.Interfaces
@inject IItemUnitService myItemUnit
@inject NavigationManager UriHelper
@inject ISessionStorageService sessionStorage
@inject IAdminService myAdminService
@inject IJSRuntime JSRuntime

<h3 class="page-title">Unit of Measure</h3>
<style>
    .e-grid .e-headercelldiv {
        font-weight: bold !important;
        background-color: #604B7C;
        color: white
    }
</style>
<style>
    .e-spinner-pane .e-spinner-inner .e-spin-Bootstrap5 {
        stroke: red;
    }
</style>
<SfSpinner @bind-Visible="@SpinnerVisible" Type="@SpinnerType.Bootstrap5" Size="50">
</SfSpinner>

@if (ItemUnitList != null)
{
    <div class="col-lg-12 Control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid @ref="ItemUnitGrid" Width="600px"
                    DataSource="@ItemUnitList"
                    AllowSorting="true" AllowFiltering="true" AllowPaging="true" AllowResizing="true" AllowReordering="true" AllowExcelExport="true"
                    ContextMenuItems="@(new List<object>() {"AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "ExcelExport","CsvExport", "FirstPage", "PrevPage","LastPage", "NextPage"})"
                    Toolbar="@(new List<string>() { "Add", "Delete", "Edit", "Cancel", "Update", "Print" })">
                    <GridEvents OnActionBegin="ActionBeginHandler" TValue="ItemUnit"></GridEvents>
                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode=EditMode.Normal Dialog="DialogParams" NewRowPosition="NewRowPosition.Bottom"></GridEditSettings>
                    <GridTemplates>
                        <EmptyRecordTemplate>
                            <span>No Records Found</span>
                        </EmptyRecordTemplate>
                    </GridTemplates>
                    <GridColumns>
                        <GridColumn Field="@nameof(ItemUnit.ItemUnitId)"
                                HeaderText="ID"
                                IsIdentity="true"
                                IsPrimaryKey="true"
                                Visible=false>
                        </GridColumn>

                        <GridColumn Field="@nameof(ItemUnit.ItemUnitDesc)"
                                HeaderText="Unit"
                                Width="75">
                        </GridColumn>

                    </GridColumns>
                </SfGrid>
                <br />
                <WarningPage @ref="Warning" WarningHeaderMessage="@WarningHeaderMessage" WarningContentMessage="@WarningContentMessage" />
                <ConfirmPage @ref="DialogDelete" ConfirmHeaderMessage="@ConfirmHeaderMessage" ConfirmContentMessage="@ConfirmContentMessage" ConfirmationChanged="ConfirmDelete" />
                @*<div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                    <SfButton @onclick="@((args) => UriHelper.NavigateTo("gentrad"))" IsPrimary="true" IconPosition=@IconPosition.Left>Back</SfButton>
                </div>*@
                <a href="#" @onclick="NavigateToPrevious" CssClass="e-link">
                    <SfButton CssClass="e-small e-success">BACK</SfButton>
                </a>
            </div>
        </div>
    </div>
}

