@page "/RcptHeadFast_pg/{RcptvouId:long}/{vCompType}"
@page "/RcptHeadFast_pg/{RcptvouId:long}"
@page "/RcptHeadFast_pg/{vCompType}"
@using DigiEquipSys.Interfaces
@using DigiEquipSys.Models
@using DigiEquipSys.Services
@inject IItemMasterService myItemMaster
@inject IItemUnitService myUnitService
@inject IGenScanSpecService myScanSpecService
@inject ISupplierService mySupplierService
@inject IClientService myClientService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ISessionStorageService sessionStorage
@inject AccYear myAccYear
@inject IGroupMasterService myGrpService
@inject ICatMasterService myCatService
@inject IBranchService myBranchService
@inject IDivisionService myDivisionService
<h3 class="page-title">Goods Receipt (GRN)</h3>
<style>
    .e-grid .e-headercelldiv {
        font-weight: bold !important;
        background-color: #604B7C;
        color: white
    }
</style>
<style>
    .e-spinner-pane .e-spinner-inner .e-spin-Bootstrap4 {
        stroke: red;
    }
</style>
<style>
    .dialog-header {
        font-size: 1.0rem;
        font-weight: bold;
        margin-bottom: 4px;
        color: #333;
    }
</style>
<style>
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
    }
</style>

<SfSpinner @bind-Visible="@SpinnerVisible" Type="@SpinnerType.Bootstrap4" Size="50" Label="Data loading">
</SfSpinner>
@if (@rcptvoudetails != null)
{
    <div class="col-lg-12">
        <EditForm Model="@rcptvouaddedit">
                <div class="grid-container">
                    <div class="grid-item">
                        <SfTextBox Enabled="false" Placeholder="Receipt No" @bind-Value="@rcptvouaddedit.RhDispNo" Syncfusion.Blazor.Inputs.FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Always"></SfTextBox>
                    </div>
                    <div class="grid-item">
                        <SfDatePicker Enabled=@vEnable TValue="DateTime?" Placeholder="Receipt Date" @bind-Value="@rcptvouaddedit.RhDate" Syncfusion.Blazor.Inputs.FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto">
                            <DatePickerEvents TValue="DateTime?" ValueChange="NoToFutureDate"></DatePickerEvents>
                        </SfDatePicker>
                    </div>
                    <div class="grid-item">
                        <SfTextBox Enabled=@vEnable Placeholder="Remarks" @bind-Value="@rcptvouaddedit.RhRemarks" Syncfusion.Blazor.Inputs.FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Always"></SfTextBox>
                    </div>
                    <div class="grid-item">
                        <SfComboBox @ref="@Company" TValue="string" TItem="Branch" @bind-Value="@rcptvouaddedit.RhComp" DataSource="@companylist" Placeholder="Select a Company" AllowFiltering="true" AllowCustom="true" Enabled=@vEnable>
                            <ComboBoxFieldSettings Value="BranchCode" Text="BranchDesc"></ComboBoxFieldSettings>
                            <ComboBoxEvents TItem="Branch" TValue="string" ValueChange="mybranch" Filtering="OnFilteringBranch"></ComboBoxEvents>
                        </SfComboBox>

                        <SfDropDownList DataSource="@branchlist" AllowFiltering="true"
                                        TItem="Division"
                                        TValue="string"
                                        Text="DelBranch"
                                        @bind-Value="@rcptvouaddedit.RhBranch"
                                        Syncfusion.Blazor.Inputs.FloatLabelType="@Syncfusion.Blazor.Inputs.FloatLabelType.Auto"
                                        Placeholder="Select Branch"
                                        Enabled=@vEnable>
                            <DropDownListFieldSettings Text="LocDesc" Value="LocCode"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <div class="col-lg-12 Control-section">
                    <div class="content-wrapper">
                        <div class="row">
                            <SfGrid @ref="RcptDetGrid" AllowTextWrap="true" DataSource="@rcptvoudetails" Height="500" Width="100%" AllowSelection="true"  AllowFiltering="true" AllowSorting="true" AllowPaging="true" AllowResizing="true" AllowReordering="true" AllowExcelExport="true"
                                 ContextMenuItems="@(new List<object>() {"AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "ExcelExport","CsvExport", "FirstPage", "PrevPage","LastPage", "NextPage"})"
                                    Toolbar="@(new List<string>() { "Add", "Delete", "Cancel", "Update", "Print" })">
                                <GridEditSettings ShowConfirmDialog="false" NewRowPosition="NewRowPosition.Bottom" AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Batch"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                            <GridPageSettings PageSize="100" PageSizes="@(new int[] { 50, 100, 200, 400,500})"></GridPageSettings>
                            <GridEvents  RowSelected="RowSelectHandler" OnToolbarClick="ToolbarClickHandler" TValue="RcptDetail" CellSaved="CellSavedHandler" OnBatchSave="BatchSaveHandler"></GridEvents>
                                <GridColumns>

                                <GridColumn Field="@nameof(RcptDetail.RdId)"
                                            HeaderText="ID"
                                            IsIdentity="true"
                                            IsPrimaryKey="true"
                                            Visible=false>
                                </GridColumn>

                                <GridColumn Field="@nameof(RcptDetail.RdScanCode)" EditorSettings="@myEditParams" AllowEditing="true" HeaderText="Scan Code" Width="200">
                                </GridColumn>

                                @* <GridColumn Field="@nameof(RcptDetail.RdScanCode)" EditorSettings="@myEditParams" AllowEditing="true" HeaderText="Scan Code" Width="200">
                                    <EditTemplate Context="mycontext">
                                        <SfTextBox @bind-Value="((mycontext as RcptDetail).RdScanCode)" Placeholder="Scan Code" Width="100%"
                                                   Input="@((args) => OnScanCodeInput(mycontext as RcptDetail, args))">
                                        </SfTextBox>
                                    </EditTemplate>
                                </GridColumn> *@

                            </GridColumns>
                            </SfGrid>
                        </div>
                    </div>
                </div>
        </EditForm>
        <br />
        <WarningPage @ref="Warning" WarningHeaderMessage="@WarningHeaderMessage" WarningContentMessage="@WarningContentMessage" />
        <ConfirmPage @ref="DialogDelete" ConfirmHeaderMessage="@ConfirmHeaderMessage" ConfirmContentMessage="@ConfirmContentMessage" ConfirmationChanged="ConfirmDelete" />
        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
            <button type="button" disabled=@isButtonDisabled class="e-btn e-normal e-primary" @onclick="RcptVouSave">Save</button>
            <button type="button" class="e-btn e-normal" @onclick="Cancel">Back</button>
            <button type="button" disabled=@isChkList class="e-btn e-normal" @onclick="ProcessList">Process</button>
            @* <button type="button" disabled=@isNewRcpt class="e-btn e-normal btn-success" @onclick="@NewReceipt">New Receipt</button> *@
            <span style="font-weight:600;">Total Items: @TotalItems </span>
        </div>
    </div>
    <div id="report-viewer" style="height: 100vh;z-index: 1; position: absolute; top: 0; left: 0;"></div>
}
<style>
    .grid-container {
        display: grid;
        padding:20px;
        max-width: 1200px; /* Maximum width of the whole container - in this case both columns */
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Relative width of each column (1fr 1fr is equivalent to, say, 33fr 33fr */
        grid-gap: 5px; /* size of the gap between columns */
        background-color : #ffefd5 ;
    }

    .flex-container {
        display: flex;
        flex-direction: row; /* Causes tab to move along row and then onto following row */
        justify-content: space-evenly; /* Equal space left and right margin and between elements */
        margin: 10px; /* This appears to be vertical margin between rows */
        column-gap: 10px;
        /* Tgap betwen columns */
    }

    .e-numeric.e-style .e-Control.e-numerictextbox {
        text-align: right;
        padding: 0px 5px 0px 0px;
    }
</style>

