@page "/rcptedit_pg"
@using DigiEquipSys.Models
@using DigiEquipSys.Services
@inject NavigationManager NavigationManager
@inject ISessionStorageService sessionStorage
@inject IJSRuntime JSRuntime

<h3 class="page-title">Goods Receipt Note - Edit  </h3>
<style>
    .e-grid .e-headercelldiv {
        font-weight: bold !important;
        background-color: slateblue;
        color: white
    }
</style>
<style>
    .e-grid .e-headercelldiv {
        font-weight: bold !important;
    }
</style>
<style>
    .e-spinner-pane .e-spinner-inner .e-spin-Bootstrap4 {
        stroke: red;
    }
</style>
<SfSpinner @bind-Visible="@SpinnerVisible" Type="@SpinnerType.Bootstrap4" Size="50" Label="Data loading">
</SfSpinner>
@if (@RcptVouList != null)
{
    <div class="col-lg-12 Control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid DataSource="@RcptVouList" Height="600" Width="100%" AllowFiltering="true" AllowSorting="true" AllowPaging="true" AllowResizing="true" AllowReordering="true" AllowExcelExport="true">
                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                    <GridPageSettings PageSize="100" PageSizes="@(new int[] {20, 30, 50, 100, 200, 400,500})"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field="@nameof(RcptHead.RhId)"
                                    HeaderText="Id"
                                    IsIdentity="true"
                                    IsPrimaryKey="true"
                                    Visible="false">
                        </GridColumn>

                        <GridColumn Field="@nameof(RcptHead.RhNo)"
                                    HeaderText="GRN No"
                                    TextAlign="@TextAlign.Left"
                                    Width="40">
                        </GridColumn>
                        <GridColumn Field="@nameof(RcptHead.RhDispNo)"
                                    HeaderText="Receipt No"
                                    TextAlign="@TextAlign.Left"
                                    Width="40">
                        </GridColumn>
                        <GridColumn Field="@nameof(RcptHead.RhDate)"
                                    HeaderText="GRN Date"
                                    Format="d"
                                    Type="ColumnType.Date"
                                    TextAlign="@TextAlign.Center"
                                    Width="50">
                        </GridColumn>
                        <GridColumn Field="@nameof(RcptHead.RhApproved)"
                                    HeaderText="Approved"
                                    TextAlign="@TextAlign.Center"
                                    Width="30">
                            <Template>
                                @{
                                    var grn = context as RcptHead;
                                    <span style="color: blue; font-weight: bold; font-style:normal; ">
                                        @(grn?.RhApproved == true ? "Yes" : "No")
                                    </span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@nameof(RcptHead.RhRemarks)"
                                    HeaderText="Remarks"
                                    TextAlign="@TextAlign.Left"
                                    Width="75">
                        </GridColumn>
                        <GridColumn Width="100">
                            <Template>
                                @{
                                    var adet = (context as RcptHead);
                                    <div>
                                        <SfButton @onclick="@((args) => Navigate(adet.RhId))" IsPrimary="true" IconPosition=@IconPosition.Left>Edit GRN</SfButton>
                                    </div>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
                <WarningPage @ref="Warning" WarningHeaderMessage="@WarningHeaderMessage" WarningContentMessage="@WarningContentMessage" />
            </div>
        </div>
    </div>
    <div class="e-footer-content">
        <br />
        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
            <a href="#" @onclick="NavigateToPrevious" CssClass="e-link">
                <SfButton CssClass="e-small e-success">BACK</SfButton>
            </a>
        </div>
    </div>
}