@page "/updpricecost_pg"
@inject NavigationManager navManager
@using DigiEquipSys.Interfaces
@using DigiEquipSys.Models
@using DigiEquipSys.Services
@inject IStockService myStockService
@inject ISessionStorageService sessionStorage
@inject IvwReceiptService myvwReceiptService
@inject IvwTransferService myvwTransferService
@inject IJSRuntime JSRuntime
@inject IStockTransService myStockTransService


<h3 class="page-title">PRICE UPDATE (Purchase)</h3>
<div class="container-fluid">
    <table style="border-spacing: 10px;align-content:start;">
        <tr>
            <td style="Width:500px;padding-left: 5px; padding-right: 5px;">
                <SfMultiColumnComboBox EnableAltRow="true" GridLines="Syncfusion.Blazor.Grids.GridLine.Both" TValue="string"
                    TItem="VwStockForPriceUpd" @bind-Value="@mValue" ValueChange="OnValueChange" AllowFiltering="true" ShowClearButton=true
                    DataSource="@StockForPriceUpdList" PopupWidth="1025px" ValueField="ItemDesc" TextField="ItemDesc" Placeholder="Select any product">
                    <MultiColumnComboboxColumns>
                        <MultiColumnComboboxColumn Field="ItemDesc" Width="250px" Header="Description" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left"></MultiColumnComboboxColumn>
                        <MultiColumnComboboxColumn Field="ClientName" Width="100px" Header="Client Name" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left"></MultiColumnComboboxColumn>
                        <MultiColumnComboboxColumn Field="ItemBatchId" Width="40px" Header="Batch" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left"></MultiColumnComboboxColumn>
                        <MultiColumnComboboxColumn Field="ItemListNo" Width="40px" Header="List No." TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></MultiColumnComboboxColumn>
                        <MultiColumnComboboxColumn Field="ItemCp" Width="40px" Header="Purch. Price" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left"></MultiColumnComboboxColumn>
                    </MultiColumnComboboxColumns>
                </SfMultiColumnComboBox>
            </td>
            <td style="padding-right:30px;">
                <b>Client:</b> @SelectedClient
            </td>
            <td style="padding-right:30px;">
                <b>Batch:</b> @SelectedBatch
            </td>
            <td style="padding-right:30px;">
                <b>List No:</b> @SelectedListNo
            </td>
            <td style="padding-right:30px;">
                <b>Price:</b> @SelectedPrice
            </td>
            <td style="padding-right:30px;">
                <b>New Price:</b>
                <InputNumber @bind-Value="newPrice" class="form-control" style="width:100px;" />
            </td>
            <td style="padding-right:30px;">
                <button class="btn btn-primary" @onclick="OnOkClicked">OK</button>
            </td>
            <td style="padding-right:90px;">
                <button class="btn btn-primary" disabled="@IsUpdateDisabled" @onclick="OnUpdateClicked">UPDATE</button>
            </td>
            <td style="padding-right:120px;">
                <button class="btn btn-primary" @onclick="OnRefreshClicked">REFRESH</button>
            </td>

        </tr>
    </table>
</div>

@if (inwardItems != null)
{
    <h3 class="page-title">INWARD ITEMS</h3>
    <div class="col-lg-12 Control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid @ref="InwardGrid" AllowTextWrap="true" DataSource="@inwardItems" Height="300" Width="100%" AllowSelection="false" AllowFiltering="false" AllowSorting="true" AllowPaging="true" AllowResizing="true" AllowReordering="true" AllowExcelExport="true">
                    <GridEditSettings></GridEditSettings>
                    <GridPageSettings PageSize="100" PageSizes="@(new int[] { 50, 100, 200, 400, 500 })"></GridPageSettings>

                    <GridColumns>
                        <GridColumn Field="@nameof(VwReceipt.RhDispNo)"
                                    HeaderText="Receipt No."
                                    AllowEditing="false"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwReceipt.RdVendInvDate)" Format="dd/MM/yyyy"
                                    HeaderText="Invoice Date"
                                    AllowEditing="false"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwReceipt.RhDate)" Format="dd/MM/yyyy"
                                    HeaderText="Receipt Date"
                                    AllowEditing="false"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwReceipt.RdListNo)"
                                    HeaderText="List No."
                                    AllowEditing="false"
                                    Width="25">
                        </GridColumn>
                        <GridColumn Field="@nameof(VwReceipt.RdLotNo)"
                                    HeaderText="Lot No."
                                    AllowEditing="false"
                                    Width="25">
                        </GridColumn>
                        <GridColumn Field="@nameof(VwReceipt.RdExpiryDate)" Format="dd/MM/yyyy"
                                    HeaderText="Exp. Date"
                                    AllowEditing="false"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwReceipt.ItemDesc)"
                                    HeaderText="Item Desc"
                                    AllowEditing="false"
                                    Width="40">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwReceipt.ItemUnit)"
                                    HeaderText="Unit"
                                    Width="20"
                                    AllowEditing="false">
                        </GridColumn>

                        <GridColumn Field=@nameof(VwReceipt.ClientName)
                                    HeaderText="Client Name" Width="30"
                                    AllowEditing="false">
                        </GridColumn>

                        <GridColumn Field=@nameof(VwReceipt.SuppName)
                                    HeaderText="Supplier Name" Width="30"
                                    AllowEditing="false">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwReceipt.RdUp)" Format="n2"
                                    HeaderText="Purch. Up."
                                    AllowEditing="false"
                                    AllowFiltering=false
                                    TextAlign="TextAlign.Right"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwReceipt.RdQty)"
                                    HeaderText="Purch. Qty"
                                    AllowEditing="false"
                                    AllowFiltering=false
                                    TextAlign="TextAlign.Right"
                                    Width="30">
                        </GridColumn>

                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
    <br />
}
@if (journalItems != null)
{
    <h3 class="page-title">JOURNAL ITEMS</h3>
    <div class="col-lg-12 Control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid @ref="JournalGrid" AllowTextWrap="true" DataSource="@journalItems" Height="300" Width="100%" AllowSelection="false" AllowFiltering="false" AllowSorting="true" AllowPaging="true" AllowResizing="true" AllowReordering="true" AllowExcelExport="true">
                    <GridEditSettings></GridEditSettings>
                    <GridPageSettings PageSize="100" PageSizes="@(new int[] { 50, 100, 200, 400, 500 })"></GridPageSettings>

                    <GridColumns>

                        <GridColumn Field="@nameof(VwTransfer.TrhDispNo)"
                                    HeaderText="Journal No."
                                    AllowEditing="false"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwTransfer.TrhDate)" Format="dd/MM/yyyy"
                                    HeaderText="Journal Date"
                                    AllowEditing="false"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwTransfer.TrdListNo)"
                                    HeaderText="List No."
                                    AllowEditing="false"
                                    Width="25">
                        </GridColumn>
                        <GridColumn Field="@nameof(VwTransfer.TrdLotNo)"
                                    HeaderText="Lot No."
                                    AllowEditing="false"
                                    Width="25">
                        </GridColumn>
                        <GridColumn Field="@nameof(VwTransfer.TrdExpiryDate)" Format="dd/MM/yyyy"
                                    HeaderText="Exp. Date"
                                    AllowEditing="false"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwTransfer.ItemDesc)"
                                    HeaderText="Item Desc"
                                    AllowEditing="false"
                                    Width="40">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwTransfer.ItemUnit)"
                                    HeaderText="Unit"
                                    Width="20"
                                    AllowEditing="false">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwTransfer.TrdBatchId)"
                                    HeaderText="Batch Id"
                                    Width="20"
                                    AllowEditing="false">
                        </GridColumn>

                        <GridColumn Field=@nameof(VwTransfer.ClientFrom)
                                    HeaderText="Transfer From" Width="30"
                                    AllowEditing="false">
                        </GridColumn>
                        <GridColumn Field=@nameof(VwTransfer.ClientTo)
                                    HeaderText="Transfer To" Width="30"
                                    AllowEditing="false">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwTransfer.TrdClientCodeFromUp)" Format="n2"
                                    HeaderText="From Purch.Price"
                                    AllowEditing="false"
                                    AllowFiltering=false
                                    TextAlign="TextAlign.Right"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwTransfer.TrdClientCodeToUp)" Format="n2"
                                    HeaderText="To Purch.Price"
                                    AllowEditing="false"
                                    AllowFiltering=false
                                    TextAlign="TextAlign.Right"
                                    Width="30">
                        </GridColumn>

                        <GridColumn Field="@nameof(VwTransfer.QtyFrom)" Visible="true"
                                    HeaderText="Journal Qty"
                                    AllowEditing="false"
                                    AllowFiltering=false
                                    TextAlign="TextAlign.Right"
                                    Width="30">
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
}


@code
{
    [CascadingParameter]
    public EventCallback notify { get; set; }
    private string? myRole;
    private string? myLoc;
    private string? myUser;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            myUser = await sessionStorage.GetItemAsync<string>("adminEmail");
            myLoc = await sessionStorage.GetItemAsync<string>("adminLoc");
            await notify.InvokeAsync();
            StateHasChanged();

        }
    }
    private string mValue { get; set; }
    public string SelectedItemDesc { get; set; }
    private string SelectedClient { get; set; }
    private string SelectedBatch { get; set; }
    private string SelectedListNo { get; set; }
    private decimal SelectedPrice { get; set; }
    private decimal newPrice { get; set; }

    private SfGrid<VwReceipt>? InwardGrid;
    protected List<VwReceipt>? inwardItems = new();

    private SfGrid<VwTransfer>? JournalGrid;
    protected List<VwTransfer>? journalItems = new();
    private bool IsUpdateDisabled = true;


    protected List<VwStockForPriceUpd> StockForPriceUpdList = new();

    protected override async Task OnInitializedAsync()
    {
        StockForPriceUpdList = await myStockService.GetStockForPriceUpd();
    }

    public async Task OnValueChange(ValueChangeEventArgs<string, VwStockForPriceUpd> args)
    {
        if (args.ItemData != null)
        {
            SelectedItemDesc = args.ItemData.ItemDesc;
            SelectedClient = args.ItemData.ClientName;
            SelectedBatch = args.ItemData.ItemBatchId.ToString();
            SelectedListNo = args.ItemData.ItemListNo.ToString();
            SelectedPrice = (decimal)args.ItemData.ItemCp;
            newPrice = 0.00M;
        }
        else
        {
            SelectedItemDesc = SelectedClient = SelectedBatch = SelectedListNo = "";
            SelectedPrice = 0.00M; newPrice = 0.00M;
        }
        IsUpdateDisabled = true;
    }

    private async Task OnOkClicked()
    {
        inwardItems = await myvwReceiptService.GetvwReceipts(SelectedClient, SelectedListNo, SelectedBatch, SelectedPrice);
        journalItems = await myvwTransferService.GetvwTransfers(SelectedClient, SelectedListNo, SelectedBatch, SelectedPrice);
        IsUpdateDisabled = false;
    }

    private async Task OnUpdateClicked()
    {
        try
        {
            if (newPrice == 0.00M)
            {
                await JSRuntime.InvokeVoidAsync("alert", "Zero Price is not acceptable to Update");
                return;
            }
            await myStockTransService.UpdateMultipleTablesAsync(SelectedClient, SelectedListNo, SelectedBatch, SelectedPrice,newPrice);
            Task.Delay(200);
            inwardItems = await myvwReceiptService.GetvwReceipts(SelectedClient, SelectedListNo, SelectedBatch, newPrice);
            journalItems = await myvwTransferService.GetvwTransfers(SelectedClient, SelectedListNo, SelectedBatch, newPrice);
            InwardGrid.Refresh();
            JournalGrid.Refresh();
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", ex.Message);
            return;
        }
    }

    private async Task OnRefreshClicked()
    {
        mValue = "";
        IsUpdateDisabled = true;
        inwardItems = new List<VwReceipt>();
        await InwardGrid.Refresh();
        journalItems = new List<VwTransfer>();
        await JournalGrid.Refresh();
        SelectedItemDesc = SelectedClient = SelectedBatch = SelectedListNo = "";
        SelectedPrice = 0.00M; newPrice = 0.00M;
        StockForPriceUpdList = new List<VwStockForPriceUpd>();
        StockForPriceUpdList = await myStockService.GetStockForPriceUpd();
        StateHasChanged();
    }
}

